{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.teach_class|as_crispy_field }}
      </div>
			<div class="col-6">
        {{ form.lang|as_crispy_field }}
      </div>
    </div>
    {{ form.Subj|as_crispy_field }}
    {{ form.city|as_crispy_field }}
		{{ form.state|as_crispy_field }}
		{{ form.Email|as_crispy_field }}
		{{ form.contact|as_crispy_field }}


    <button type="submit" class="btn btn-success">Submit Application</button>
  </form>
{% endblock %}
